BasedOnStyle:  GNU
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveDeclarations: None
AlignOperands: DontAlign
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Attach
# This requires a newer clang-format
# BinPackParameters: AlwaysOnePerLine
BreakBeforeTernaryOperators: true
BreakBeforeBinaryOperators: NonAssignment
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 100
ContinuationIndentWidth: 2
Cpp11BracedListStyle: true
KeepEmptyLinesAtTheStartOfBlocks: false
Language:        Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All
PenaltyExcessCharacter: 200
PenaltyReturnTypeOnItsOwnLine: 1000
PointerAlignment: Left
QualifierAlignment: Left
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeCpp11BracedList: true
SpaceBeforeInheritanceColon: true
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
Standard: Cpp11
