name: format

on:
  - push
  - workflow_dispatch

jobs:
  java_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: axel-op/googlejavaformat-action@v3
        with:
          args: '--skip-sorting-imports --replace'

  objc_format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          which clang-format || brew install clang-format
          find . -name '*.m' -exec clang-format -i {} \;
          find . -path '*/ios/**/*.h' -exec clang-format -i {} \;
          find . -path '*/macos/**/*.h' -exec clang-format -i {} \;
          git diff --exit-code || (git commit --all -m "Clang Format" && git push)

  swift_format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          which swiftlint || brew install swiftlint
          swiftlint --fix
          git diff --exit-code || (git commit --all -m "Swift Format" && git push)

  windows_cpp_format:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Install latest clang-format
        run: |
          sudo apt install python3-pip -y
          python3 -m pip install clang-format

      - name: Format C++ code
        run: |
          cd flutter_local_notifications_windows/src
          ~/.local/bin/clang-format --version
          ~/.local/bin/clang-format *.cpp *.hpp *.h -i
          # git diff --exit-code || (git commit --all -m "Clang Format" && git push)

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Clang format
