name: validate

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  java_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: axel-op/googlejavaformat-action@v3
        with:
          args: '--skip-sorting-imports --replace'

  objc_format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          which clang-format || brew install clang-format
          find . -name '*.m' -exec clang-format -i {} \;
          find . -path '*/ios/**/*.h' -exec clang-format -i {} \;
          find . -path '*/macos/**/*.h' -exec clang-format -i {} \;
          git diff --exit-code || (git commit --all -m "Clang Format" && git push)

  swift_format:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test
        run: |
          which swiftlint || brew install swiftlint
          swiftlint --fix
          git diff --exit-code || (git commit --all -m "Swift Format" && git push)

  analyze:
    name: Run Dart Analyzer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Analyze
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          fatal-warnings: true
  build_example_android_stable:
    name: Build Android example app (stable channel)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_android
  build_example_ios_stable:
    name: Build iOS example app (stable channel)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_ios
  build_example_macos_stable:
    name: Build macOS example app (stable channel)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_macos
  build_example_linux_stable:
    name: Build Linux example app (stable channel)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - run: flutter config --enable-linux-desktop
      - name: Build
        run: melos run build:example_linux
  unit_tests_dart:
    name: Run all unit tests (Dart)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Run Tests
        run: melos run test:unit --no-select
  unit_tests_android:
    name: Run all unit tests (Android)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Run Tests
        run: melos run test:unit:android
  integration_tests_android:
    name: Run integration tests (Android)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: melos run test:integration
  integration_tests_ios:
    name: Run integration tests (iOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - uses: futureware-tech/simulator-action@v3
        id: simulator-action
        with:
          model: 'iPhone 15'
      - run: |
          brew tap wix/brew
          brew install applesimutils
          applesimutils --byId ${{ steps.simulator-action.outputs.udid}} --bundle com.dexterous.flutterLocalNotificationsExample --setPermissions notifications=YES
      - run: melos run test:integration



