name: validate

on:
  pull_request:
    paths-ignore:
      - '**.md'
  push:
    branches:
      - master
      - hotfix/*
    paths-ignore:
      - '**.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    name: Run Dart Analyzer
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.0
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Analyze
        uses: invertase/github-action-dart-analyzer@v1
        with:
          fatal-infos: true
          fatal-warnings: true
  format:
    name: Dart formatting checks
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Format
        run: melos run format-ci
  build_example_android_stable:
    name: Build Android example app (stable channel)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_android
  build_example_android_3_19:
      name: Build Android example app (3.19)
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v4
        - uses: actions/setup-java@v4
          with:
            distribution: 'zulu'
            java-version: '17'
        - uses: subosito/flutter-action@v2
          with:
            channel: stable
            flutter-version: 3.19.0
            cache: true
            cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
        - name: Install Tools
          run: ./.github/workflows/scripts/install-tools.sh
        - name: Build
          run: melos run build:example_android
  build_example_ios_stable:
    name: Build iOS example app (stable channel)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_ios
  build_example_ios_3_19:
    name: Build iOS example app (3.19)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.0
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_ios
  build_example_macos_stable:
    name: Build macOS example app (stable channel)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_macos
  build_example_macos_3_19:
    name: Build macOS example app (3.19)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.0
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Build
        run: melos run build:example_macos
  build_example_linux_stable:
    name: Build Linux example app (stable channel)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - run: flutter config --enable-linux-desktop
      - name: Build
        run: melos run build:example_linux
  build_example_linux_3_19:
    name: Build Linux example app (3.19)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.0
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - run: |
          sudo apt-get update -y
          sudo apt-get install -y ninja-build libgtk-3-dev
      - run: flutter config --enable-linux-desktop
      - name: Build
        run: melos run build:example_linux
  build_example_windows_stable:
    name: Build Windows example app (stable channel)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: |
          dart pub global activate melos
          melos bootstrap
      # Windows has a filename length limit, which this repo just hits
      # This saves us precious characters during the compilation
      - name: Rename directory
        run: |
          move flutter_local_notifications f
          move f\example f\e
      - name: Build
        run: |
          cd f\e
          dart pub get
          dart run msix:create
  build_example_windows_3_19:
    name: Build Windows example app (3.19)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          flutter-version: 3.19.0
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: |
          dart pub global activate melos
          melos bootstrap
      # Windows has a filename length limit, which this repo just hits
      # This saves us precious characters during the compilation
      - name: Rename directory
        run: |
          move flutter_local_notifications f
          move f\example f\e
      - name: Build
        run: |
          cd f\e
          dart pub get
          dart run msix:create
  unit_tests_dart:
    name: Run all unit tests except for Windows (Dart)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Run Tests
        run: melos run test:unit --no-select
  unit_tests_android:
    name: Run all unit tests (Android)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Run Tests
        run: melos run test:unit:android
  unit_tests_windows:
    name: Run Windows unit tests (Dart)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install tools
        run: |
          dart pub global activate melos
          melos bootstrap
      - name: Build DLL for native code
        run: |
          cd flutter_local_notifications_windows
          .\build.bat
      - name: Run Tests
        run: melos run test:unit:windows
  integration_tests_android:
    name: Run integration tests (Android)
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '17'
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - name: Enable KVM
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm
      - uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: 29
          script: melos run test:integration
  integration_tests_ios:
    name: Run integration tests (iOS)
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true
          cache-key: 'flutter-:os:-:channel:-:version:-:arch:-:hash:'
      - name: Install Tools
        run: ./.github/workflows/scripts/install-tools.sh
      - uses: futureware-tech/simulator-action@v3
        id: simulator-action
        with:
          model: 'iPhone 15'
      - run: |
          brew tap wix/brew
          brew install applesimutils
          applesimutils --byId ${{ steps.simulator-action.outputs.udid}} --bundle com.dexterous.flutterLocalNotificationsExample --setPermissions notifications=YES
      - run: melos run test:integration
